/* MAIN LAYOUT */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0B0B0C;
    color: #FFFFFF;
}

.section {
    width: 80%;
    margin: auto;
    padding: 60px 0;
}

h1, h2, h3 {
    font-weight: 600;
}

h2 {
    font-size: 28px;
    color: #6A5ACD;
}

/* HERO */
.hero {
    text-align: center;
    padding-top: 90px;
}

.subtitle {
    margin-top: 10px;
    color: #c9c9c9;
}

/* Highlight Color */
.highlight {
    color: #6A5ACD;
}

/* BUTTONS */
.cta-buttons {
    margin-top: 20px;
}

.btn-primary, .btn-secondary {
    padding: 10px 18px;
    border-radius: 6px;
    margin-right: 10px;
    text-decoration: none;
    font-weight: 500;
}

.btn-primary {
    background: #6A5ACD;
    color: white;
}

.btn-primary:hover {
    background: #5948c0;
}

.btn-secondary {
    background: transparent;
    border: 1px solid #6A5ACD;
    color: #6A5ACD;
}

.btn-secondary:hover {
    background: #6A5ACD;
    color: white;
}

/* PROFILE IMAGE */
.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100px;
    border: 3px solid #6A5ACD;
    box-shadow: 0 0 18px rgba(106, 90, 205, 0.4);
    margin-bottom: 15px;
}

/* INITIAL AVATAR */
.profile-initial {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 3px solid #6A5ACD;
    background: #6A5ACD;
    color: white;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 18px rgba(106, 90, 205, 0.4);
    margin-bottom: 15px;
}

/* SKILLS */
.skills-container span {
    background: #1A1A1A;
    border: 1px solid #333;
    padding: 8px 14px;
    display: inline-block;
    margin: 6px;
    border-radius: 6px;
}

/* PROJECT CARD */
.project {
    background: #111;
    padding: 18px;
    margin-bottom: 20px;
    border-left: 3px solid #6A5ACD;
    border-radius: 8px;
}

/* FOOTER */
footer {
    text-align: center;
    background: #111;
    padding: 18px;
    margin-top: 30px;
    color: #aaa;
}
